body{
    background-image: url("./assets/background_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#main{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr ;
    gap: 20px;
}
.all_food_items{
    background-color: grey;
    opacity: 0.65;
}
h1{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: rgb(1, 1, 29);
}
ol{
    font-size: 18px;
    text-align: center;
    list-style: none;
    /* font-weight: 700; */
}